$font-family: "Roboto", sans-serif;
$font-weight: 600;
$font-style: italic;
$navbar-bg-color: rgb(0, 0, 0);
$navbar-font-size: 25px;
$navbar-link-color: rgba(255, 255, 255, 0.8);
$navbar-link-hover-focus-color: rgba(255, 255, 255, 1);
$navbar-brand-color: #ecebeb;
$navbar-toggler-bg-color: black;
$hero-bg-color: rgba(0, 0, 0, 0.137);
$custom-bg-color: rgba(206, 196, 196, 0.925);
$custom-border-color: #000;
$btn-primary-bg-color: rgba(0, 0, 0, 0.445);
$btn-primary-border-color: black;
$footer-link-color: var(--bs-body-color);
$footer-font-size: 25px;